@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}
body {
	background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}
body.Orange_Fun {
	background: linear-gradient(to right, #22c1c3, #fdbb2d);}
body.Argon {
	background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);}
body.Visions_of_Grandeur {
	background: linear-gradient(to right, #1f4037, #99f2c8);}
body.moonlight{
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
body.kye{
	background: linear-gradient(to right, #8360c3, #2ebf91);
}

.page-wrapper {
	max-width: 1200px;
	margin: 2vh auto;
	padding: 0 10vh;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.logo img {
	width: 40px;
	height: 40px;
}

.logo-title {
	font-size: 48px;
	color: rgb(255, 255, 255);
	font-weight: 200;
}

.btn {
	font-family: 'Quicksand';
	cursor: pointer;
	border-radius: 15px;
	color: white;
	backdrop-filter: blur(3px);
	border: 1px solid rgba(247, 235, 235, 0.13);
	background: radial-gradient(
		at 50% 0%,
		rgba(250, 247, 247, 0.1),
		rgba(241, 240, 240, 0.1)
	);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn:hover {
	background: radial-gradient(
		at 50% 0%,
		rgba(250, 247, 247, 0.1),
		rgba(241, 240, 240, 0.5)
	);
}

.btn-login {
	font-size: 28px;
	padding: 18px;
	font-family: 'Quicksand';
	font-weight: 200;
}

.btn-create-visit {
	margin-left: 20px;
	font-size: 28px;
	padding: 18px;
	font-family: 'Quicksand';
	font-weight: 200;
}

.btn-submit {
	margin-top: 2vh;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	width: 200px;
}

.edit-submit {
	margin-top: 2vh;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	width: 200px;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	z-index: 99;
	opacity: 0;
}

.modal-active {
	visibility: visible;
	opacity: 1;
}

.modal-title {
	font-size: 40px;
	margin-bottom: 30px;
	font-weight: 600;
	color: #ffffff;
	letter-spacing: 1px;
}

.modal-form {
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500px;
	padding: 40px;
	border-radius: 16px;
	border: 1px solid rgba(43, 42, 42, 0.13);
	border-radius: 35px;
	backdrop-filter: blur(8px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(245, 237, 237, 0.3)
	);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#emailValue {
	border: 2px solid transparent;
}
#passValue {
	border: 2px solid transparent;
}

.modal-form input {
	outline: none;
	font-size: 25px;
	padding: 20px;
	border-radius: 6px;
	border: 0;
	margin-bottom: 10px;
}

.btn-enter {
	padding: 14px;
	font-size: 18px;
	font-family: 'Quicksand';
	font-weight: bold;
	width: 140px;
	margin-top: 10px;
}

.modal-close {
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 50px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg)
		brightness(106%) contrast(103%);
	transition: all 0.1s ease;
}
.modal-close:hover {
	transform: scale(1.15);
}

.visit-form-wrap {
	width: 440px;
}

.visit-form input {
	width: 250px;
	margin-top: 10px;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.edit-form input {
	width: 250px;
	margin-top: 10px;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.visit-select-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.visit-cards {
	margin-top: 10vh;
}

.filter-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search {
	width: 200px;
	padding: 10px;
	border-radius: 20px;
	border: none;
	outline: none;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	border: 2px solid transparent;
}

.search:focus {
	border: 2px solid #1b6177;
}

.search-btn {
	width: 60px;
	padding: 10px;
	margin-left: 10px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.search-btn img,
.glass-card img {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg)
		brightness(106%) contrast(103%);
}

.status-container {
	font-size: 24px;
}

.select-title {
	color: white;
	margin-right: 10px;
	font-size: 20px;
	font-weight: bold;
}

select {
	font-size: 18px;
	width: 140px;
	padding: 8px;
	border-radius: 10px;
	border: none;
	outline: none;
}

.urgency-container {
	font-size: 24px;
}
.urgency-container select {
	font-size: 20px;
	width: 140px;
	padding: 8px;
	border-radius: 10px;
	border: none;
	outline: none;
}

.cards-container {
	margin-top: 10vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3vh;
}

.glass-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: 200px;
	border: 1px solid rgba(43, 42, 42, 0.13);
	border-radius: 35px;
	backdrop-filter: blur(15px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(245, 237, 237, 0.3)
	);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.glass-card:hover {
	backdrop-filter: blur(20px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(255, 255, 255, 0.5)
	);
	border: 1px solid rgba(37, 37, 37, 0.13);
}

.default-title {
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.card-wrap {
	display: flex;
	flex-direction: column;
}

.card-top {
	display: flex;
	justify-content: space-around;
	max-height: fit-content;
}
.card-title {
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

.card-utility {
	position: absolute;
	top: 5px;
	right: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-utility {
	padding: 10px;
}
.edit-utility:hover {
	cursor: pointer;
	filter: invert(43%) sepia(46%) saturate(7108%) hue-rotate(164deg)
		brightness(98%) contrast(88%);
}

.close-utility {
	padding: 10px;
}
.close-utility:hover {
	cursor: pointer;
	filter: invert(43%) sepia(46%) saturate(7108%) hue-rotate(164deg)
		brightness(98%) contrast(88%);
}

.card-body {
	display: flex;
	justify-content: space-around;
	color: white;
}

.show-more-wrap {
	display: none;
	margin-top: 2vh;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 1vh;
	text-align: center;
}

.active {
	display: block;
}

.edit-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	z-index: 99;
	opacity: 0;
}

.show-more-modal {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	z-index: 99;
	opacity: 0;
}

.show-more-card {
	width: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	border: 1px solid rgba(43, 42, 42, 0.13);
	border-radius: 35px;
	backdrop-filter: blur(15px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(245, 237, 237, 0.3)
	);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.show-more-card hr {
	width: 200px;
}
.show-more-title {
	font-size: 28px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-top: 80px;
}
.show-more-body {
	text-align: center;
	width:500px;
	font-size: 24px;
	font-weight: 200;
}
.show-more-desc {
	font-size: 20px;
}

.show-more-cross {
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 50px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg)
		brightness(106%) contrast(103%);
	transition: all 0.1s ease;
}
.show-more-cross:hover {
	transform: scale(1.15);
}

.active-show {
	opacity: 1;
	visibility: visible;
}
